{% extends 'base.html' %}
{% load extra_filters %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'paleo/paleo.css' %}">
  <link rel="stylesheet" href="{% static 'css/jtip.css' %}">
  <!-- <link rel="stylesheet" href="http://codylindley.com/blogstuff/js/jtip/css/global.css"> -->  
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header"> {{current.title}} - {{current.chapter}}:{{current.line}} </div>  
  
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{english}}</li>
    <li class="list-group-item text-right">
      {% for word in paleo|get_words %}<a href="/word/?word={{word}}" class="jTip" id="word{{forloop.counter}}">{{word}}</a> {% endfor %}
    </li>
    <li class="list-group-item text-right"> <a class="btn btn-default btn-sm" href="/{{current.title}}/{{current.chapter}}/{{current.line |add:"-1"}}/">&lt;- prev</a> <a class="btn btn-default btn-sm" href="/{{current.title}}/{{current.chapter}}/{{current.line |add:"1"}}/">next -&gt;</a>
    <!-- <li class="list-group-item">
      {% for l in paleo %}{%if l == ' '%}<br>{%else %}<img src="{% static 'paleo_letters/' %}{{ l | get_letternumber }}.svg"  width="15" height="15">{% endif %}{% endfor %}
    </li>
    <li class="list-group-item">
      {% for l in paleo %}{%if l == ' '%}<br>{% else %}<span class="icon-{{ l | get_letternumber }}"></span>{% endif %}{% endfor %}            
    </li> -->
    
  </ul>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jtip.js' %}" type="text/javascript"></script>
{% endblock %}
